body {
    background-color: rgb(230, 226, 226);
    margin: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Primero */
.contenedor-1 {
    text-align: center; /* centrar/medio */
    background-color: rgb(67, 114, 215);
    padding: 35px;
    font-size: 1.5rem;
    border: rgb(244, 239, 239);
    border-radius: 1rem;
    border-style: solid;
    border-bottom: 20px solid  rgb(239, 237, 237);
    /* Esto es lo mismo que la linea de arriba */
    /* 
    border-bottom: 20px;
    border-style: solid;
    border-color: rgb(239, 237, 237); 
    */
}

.contenedor-1 h1 {
    text-decoration: underline;
}

/* Segundo */
.contenedor-2 {
    background-color: rgb(67, 114, 215);
    padding: 30px;
    border-radius: 1rem;
    border: rgb(244, 239, 239);
    border-style: solid;
    margin-top: 15px;
    padding: 25px;
}

/* Tercero */
.navegador {
    background-color: lightblue;
    border-radius: 1rem;
    border: rgb(244, 239, 239);
    border-style: solid;
    margin-top: 15px;
    padding: 15px;
}

.navegador h2 {
    text-align: center;
}

/* Cuarto */
.bloque {
    float: left;
    width: 33.3%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: gray;
}

.clr {
    clear: both;   /* Will clear any floats above, fixes overlapping issues*/
}

/* Quinto */
.footer {
    background-color: rgb(67, 114, 215);
    padding: 40px;
    text-align: center;
}


/* Enlaces */
a {
    color: #fff;
}

a:hover {
    color: rgb(12, 152, 22);
}

a:active {
    color: blue;
}

